@import './reset.css';

a{
  display:block;
  text-decoration: none;
  color:#fff;
  font-size: 18px;
  font-weight: 600;
}
p{
  line-height: 1;
  margin-bottom:20px;
}
.wrap{
  max-width: 960px;
  margin: 0 auto;
}
.header{
  border-bottom:3px solid #FAEFEA;
  background-color: #91D0D7;
  height: 70px;
  position:relative;
}
.logo{
  float:left;
}
.logo a{
  margin-left: 30px;
  width: 60px;
  height: 60px;
  background:#F7E3DA;
  display: block; 
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.menu{
  float: right;
  margin-right:30px;
}
.menu li{
  float:left;
}
.menu a{
  padding:1.3em  0.5em;
}
.menu a:hover, .mobile-menu:hover{
  color: #666666;
  transition: 0.5s;
}
.mobile-menu{
  display:none;
}
.contentbox{
  margin-top: 40px;
  margin-bottom: 20px;
  padding:0px 30px;
}
.content{
  border:2.5px solid #91D0D7;
  border-radius:30px;
  padding:30px 50px 30px 30px;
  text-align:center; 
}

.article .item{
	width:100%;
	height:150px;
	margin: 10px;
	text-align: center;
	box-shadow: 1px 5px 5px grey;
}
.article .item a{
	font-size:24px;
	display: flex;
	justify-content: center;
	align-items: center;
	height:100%;
}
.footer{  
	color: #91D0D7;
	text-align: center;
	height: 100px;
	line-height: 100px;
	margin-top: 50px;
}

@media(max-width:768px){
  .header{
    position:fixed;
    top:0;
    width: 100%;
  }
  .contentbox{
	  padding:70px 20px 20px 20px;
  }
  .menu{
    position: absolute;
    z-index: 100;
    background-color:#FDF9F7;
    top:70px;
	margin-right:0;
    left:0;
    right:0;
    max-height: 0%;
    overflow:hidden;
    transition: max-height 0.38s;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);	
  }
  .menu li{
    float:none;
    border-bottom:1px solid #91D0D7;
    text-align: center;
  }
  .menu a{
	font-size:22px;
    color:#69BFC9;
  }
  .mobile-menu{
    display:block;
    float:right;
    padding:1.3em .5em;
    margin-right:10px;
  }
  .menu.active{
    max-height: 554px;
  }
  .article{
	flex-direction: column;
  }
  .article .item{
	width: 100%;
  }
}
