@import './reset.css';

*,*:before,*:after{
  box-sizing: border-box;
}
body{
  font-family: "Noto Sans","Microsoft JhengHei";
}
a{
  display:block;
  text-decoration: none;
  color:#fff;
  font-size: 18px;
  font-weight: 600;
}
p{
  line-height: 1 ;
  margin-bottom:20px;
}
.wrap{
  max-width: 960px;
  margin: 0 auto;
}
.clearfix:after{
  content:'';
  display:table;
  clear: both;
}
.contentbox{
  margin-top: 40px;
  margin-bottom: 20px;
  padding:0px 30px;
}
.content{
  border:2.5px solid #91D0D7;
  border-radius:30px;
  padding:30px;
  text-align:center;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);  
}
.header{
  border-bottom:3px solid #F7E3DA;
  background-color: #91D0D7;
  height: 70px;
  position:relative;
}
.logo{
  float:left;
}
.logo a{
  float:left;
  margin-left: 30px;
  width: 60px;
  height: 60px;
  background:#F7E3DA;
  display: block; 
  text-indent: 101%; /*溢出邊界*/  
  overflow: hidden;/*溢出邊界隱藏*/
  white-space: nowrap;
}
.menu{
  float: right;
}
.menu li{
  float:left;
}
.menu a{
  padding:1.3em  .5em;
}
.menu a:hover, .mobile-menu:hover{
  color: #439CFE;
}
.mobile-menu{
  display:none;
}
.footer{  
	color: #91D0D7;
	text-align: center;
	height: 100px;
	line-height: 100px;
	margin-top: 50px;
}

@media(max-width:768px){
  .header{
    position:fixed;
    top:0;
    width: 100%;
  }
  .contentbox{
	  padding:70px 20px 20px 20px;
  }
  .menu{
    position: absolute;
    z-index: 100;
    background-color:#F7E3DA;
    top:70px;
    /*選單左置右延伸開始*/
    left:0;
    right:0;
    /*選單左置右延伸結束*/
    /*隱藏選單開始*/
    max-height: 0%;
    overflow:hidden;
    /*隱藏選單結束*/
    transition: max-height 0.38s;
  }
  .menu li{
    float:none;
    border-bottom:1px solid #fff;
    text-align: center;
  }
  .menu a{
    padding:.8em 0 .8em .5em;
    color:#91D0D7;
  }
  .mobile-menu{
    display:block;
    float:right;
    padding:1.3em .5em;
    margin-right:10px;
  }
  .menu.active{
    max-height: 554px;
  }
}
