@import './reset.css';

body{
	background-color: #595959;
}

.header{
	min-width: 800px;
	padding: 0 200px 0 200px;
	display: flex;
	background-color: #333333;
}

.header img{
	width: 80px;
	height: 100%;
	border-radius: 10px;
	overflow: hidden;
}

.header nav{
	width: 100%;
	line-height: 50px;
	font-size: 0px;
	display: flex;
	justify-content: flex-end;
}

.header nav a{
	width:100px;
	padding: 10px;
	display: inline-block;
	font-size: 26px;
	color: white;
	transition: 0.5s;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header nav a:hover{
	background-color: black;
	color: gold;
}

.banner{
	position: relative;
}

.banner .title > p{
	width: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	top: 60px;
	font-size: 50px;
}

.banner img{	
	height: 300px;
	width: 100%;
	opacity: 0.25;
}

.banner .search{
	width: 100%;
	top: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
}
		
.banner .search input#search{
	width: 300px;
	height: 50px;
	background: #2b303b;
	border: none;
	font-size: 10pt;
	float: left;
	color: #63717f;
	padding-left: 45px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.article h1{
	font-size: 40px;
	text-align: center;
	margin: 20px;
}

.article p{
	padding: 10px;
}

.article .wrap{
	display: flex;
	width: 100%;
	justify-content: center;
}

.article .wrap .item{
	width: 300px;
	margin: 20px;
	text-align: center;
	box-shadow: 1px 5px 5px grey;
}

.footer{
	color: white;
	background-color: #333333;
	text-align: center;
	height: 100px;
	line-height: 100px;
	margin-top: 50px;
}

	
@media only screen and (max-width: 480px) {
	
	body{
		background-color: #595959;
	}

	.header{
		min-width: 800px;
		padding: 0 200px 0 200px;
		display: flex;
		background-color: #333333;
	}

	.header img{
		width: 80px;
		height: 100%;
		border-radius: 10px;
		overflow: hidden;
	}

	.header nav{
		width: 100%;
		line-height: 50px;
		font-size: 0px;
		display: flex;
		justify-content: flex-end;
	}

	.header nav a{
		width:100px;
		padding: 10px;
		display: inline-block;
		font-size: 26px;
		color: white;
		transition: 0.5s;
		text-decoration: none;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.header nav a:hover{
		background-color: black;
		color: gold;
	}

	.banner{
		position: relative;
	}

	.banner .title > p{
		width: 100%;
		position: absolute;
		display: flex;
		justify-content: center;
		top: 60px;
		font-size: 50px;
	}

	.banner img{	
		height: 300px;
		width: 100%;
		opacity: 0.25;
	}

	.banner .search{
		width: 100%;
		top: 150px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
	}
			
	.banner .search input#search{
		width: 300px;
		height: 50px;
		background: #2b303b;
		border: none;
		font-size: 10pt;
		float: left;
		color: #63717f;
		padding-left: 45px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}

	.article h1{
		font-size: 40px;
		text-align: center;
		margin: 20px;
	}

	.article p{
		padding: 10px;
	}

	.article .wrap{
		display: flex;
		width: 100%;
		justify-content: center;
	}

	.article .wrap .item{
		width: 300px;
		margin: 20px;
		text-align: center;
		box-shadow: 1px 5px 5px grey;
	}

	.footer{
		color: white;
		background-color: #333333;
		text-align: center;
		height: 100px;
		line-height: 100px;
		margin-top: 50px;
	}
}


