<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div id="app">
	  <input type="checkbox" v-model="showRed">變更框線顏色<br>
	  <div class="block" :class="{redBorder: showRed}">
	  </div></br>	
	  <input type="number" v-model="number">*2=
	  <input type="number" v-model="multiplyTwo">
	  </br>
	  data:{{number}}
	  </br>
	  computed:{{multiplyTwo}}
	</div>
	
</body>
<script>
  const vm = new Vue({
    el: '#app',
    data: {
      number: 0,
      showRed: false
    },
    computed: {
      multiplyTwo: {
        get() {
          return this.number * 2;
        },
        set(val) {
          this.number = val / 2;
        }
      }
    }
  })
</script>
<style>
	.block{
		width: 20px;
		height: 20px;
		border: 5px solid;
		border-color: yellow;
	}
	.redBorder{
		border-color: blue;
	}
</style>
</html>
